@use '../abstracts/variables';
@use '../abstracts/mixins';

/************/
/* GENERAL */
/***********/

* {
    box-sizing: border-box;
}

*:focus-visible {
    box-shadow: 0 0 0 4px variables.$primary-color  !important;
    outline: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: variables.$font-default;
    @include mixins.font-size(18px);
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

.wrapper {
    padding: 40px 8%;
}